.feature-status{
    background-color: rgba(110, 139, 151, 0.537);
    cursor: pointer;
    margin-top:40px;
    width:200px;
    text-align: center;
    border-radius: 10px;
    height:25px;
    color: black;
}