.feature-status{
    background-color: rgba(152, 221, 251, 0.537);
    // display: flex;
    // justify-content: space-between;
    cursor: pointer;
    margin-top:40px;
    width:200px;
    text-align: center;
    border-radius: 10px;
    // height:30px;
    color: rgb(22, 22, 19);
}